* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Segoe UI;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #e6ccb3;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
}

.image {
    height: 100vh;
    overflow: hidden;
    opacity: 0.7;
}

.image img {
    height: 100vh;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 80vh;
    background-color: #f9f2ec;
    margin: auto;
    z-index: 10;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.group:nth-child(2) {
    border-top: 10px #e6ccb3 solid;
    border-bottom: 10px #e6ccb3 solid;
    padding: 40px;
}

.logo {
    height: 4rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.icon img {
    height: 6rem;
}

.login {
    background-color: #c68c53;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.login:hover {
    background-color: #976c40;
}

.logout {
    color: #c68c53;
    margin-top: 1rem;
}

.logout:hover{
    color: #976c40;
    text-decoration: underline;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link {
    color: #c68c53;
}

.link:hover {
    color: #976c40;
    text-decoration: underline;
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./assets/appstore.png');
}

.app-download:nth-child(2) {
    background-image: url('./assets/googleplay.png');
}

.get-app {
    color: #c68c53;
}

/* media queries */

@media (max-width: 1920px), (max-height: 1080px) {
    .continue {
        height: 60%;
    }

    .group {
        padding: 30px;
    }

    .icon {
        margin: 20px 0;
    }
}

@media (max-width: 1280px), (max-height: 720px)  {
    .continue {
        height: 80%;
    }

    .group {
        padding: 0;
    }
}

@media (max-width: 768px), (max-height: 1024px)  {
    .image {
        position: absolute;
        width: 100%;
        z-index: 9;
    }

    .image img {
        margin: 0;
        height: 130%;
        opacity: 0.2;
    }

    .continue {
        height: 60%;
        width: 70%;
    }
}

@media (max-width: 320px), (max-height: 480px)  {
    .image {
        display: none;
    }

    .instagram-wrapper {
        max-height: 100vh;
    }

    .continue {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .group {
        padding: 0;
        margin: 0;
    }

    .group:nth-child(2) {
        border-top: 3px #f9f2ec solid;
        border-bottom: 3px #f9f2ec solid;
    }

    .group a, .group p, .app p {
        font-size: 12px;
    }

    .logo {
        height: 3rem;
        margin-top: 30px;
    }

    .icon {
        margin-top: 5px;
    }

    .icon img{
        height: 70px;
    }

    .login {
        margin-top: 10px;
    }

    .logout {
        margin: 10px 0 20px 0;
    }

    .app-download {
        height: 2rem;
        width: 7rem;
        background-size: cover;
    }
}
